*{
  box-sizing: border-box;
}

header {
  background-color: #694a0c;
  font-family: serif;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: left;
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.menu {
  z-index: 3;
}
.menu-item {
    display: inline-block;
    min-width: 10em;
    margin: 0 0;
    text-align: center;
    background-color: #694a0c;
}

.menu-item a {
    color: black;
    text-decoration: underline;
  }

.menu-item:hover {
      background-color: #d19928;
  }

  .dropdown {
      display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 0;
    margin-top: 0;
    background-color: #694a0c;
    color: white;
}
.dropdown-content a {
    color: white;
    background-color: #694a0c;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 10em;
    background-color: #694a0c;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #d19928;
    text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
   font-family: Arial, Verdana;
}

p  {
   font-family: Arial, Verdana;
   font-size: 1em;
   text-align: justify;
}
