header {
  background-color: #31013c;
  font-family: serif;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: left;
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu-item {
    display: inline-block;
    min-width: 10em;
    margin: 0 0;
    text-align: center;
    background-color: #31013c;
}

.menu-item a {
    color: white;
    text-decoration: underline;
  }

.menu-item:hover {
      background-color: #6f4d77;
  }
