header {
  background-color: #31013c;
  font-family: serif;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: left;
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu-item {
    display: inline-block;
    margin: 0 0;
    min-width: 8em;
    text-align: center;
    background-color: #26272b;
    padding: 0.5em 0;
}
